<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div th:fragment="form_teacher_edit">

                <form th:action="@{/admin/editEntity} + '?entity=teachers'" method="post" class="row g-3">
                    <input type="hidden" th:value="${teacher.id}" th:name="id">
                    <div class="col-md-6">
                        <label for="name" class="form-label d-flex" th:text="#{form_name}"></label>
                        <input type="text" class="form-control" id="name" th:name="name" th:value="${teacher.name}" required style="text-transform: capitalize;">
                    </div>
                    <div class="col-md-6">
                        <label for="dna" class="form-label d-flex" th:text="#{form_dna}"></label>
                        <input type="text" class="form-control" id="dna" th:name="dna" th:value="${teacher.dna}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="address" class="form-label d-flex" th:text="#{form_address}"></label>
                        <input type="text" class="form-control" id="address" th:name="address" th:value="${teacher.address}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label d-flex" th:text="#{form_phone}"></label>
                        <input type="tel" class="form-control" id="phone" th:name="phoneNumber" th:value="${teacher.phoneNumber}">
                    </div>
                    <div class="col-6">
                        <label for="email" class="form-label d-flex" th:text="#{form_email}"></label>
                        <input type="email" class="form-control" id="email" th:name="email" th:value="${teacher.email}" required>
                    </div>
                    <div class="col-6">
                        <label for="course" class="form-label d-flex" th:text="#{form_courses}"></label>
                        <select id="course" class="form-select" aria-label="Course" name="course">
                            <option selected value="" ></option>
                            <option th:each="course: ${entities.get('course')}" th:value="${course.id}"
                                    th:text="${course.name}"></option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="assignment" class="form-label d-flex" th:text="#{form_courses_assignment}"></label>
                    </div>
                    <div class="col-6">
                        <ul id="assignment" >
                            <li th:each="course: ${entities.get('course_with_teacher')}" th:if="${course.teacher.equals(teacher)}">
                                <a th:text="${course.name}" th:href="@{/admin/deleteCourse/} + ${course.id}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100" th:text="#{form_edit}"></button>
                    </div>
                </form>

            </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>