<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div th:fragment="form_teacher">
            <div class="card p-1 rounded shadow">
                <h1 class="fs-5 text-dark text-center mb-2" th:text="#{admin_nav_vertical_teachers}"></h1>
                <small class="text-success fs-6 text-center" th:text="#{success_register}" th:if="${teacher_success != null}"></small>
                <small class="text-danger fs-6 text-center" th:text="#{error_insertion}" th:if="${error_insertion_teacher != null}"></small>
                <hr>
                <form th:action="@{/admin/saveTeacher}" method="post" th:object="${teacher}" class="row g-3">
                    <div class="col-md-6">
                        <label for="name_teacher" class="form-label" th:text="#{form_name}"></label>
                        <input type="text" class="form-control" id="name_teacher" th:field="*{name}">
                        <small class="fs-6 text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></small>
                    </div>
                    <div class="col-md-6">
                        <label for="dna_teacher" class="form-label" th:text="#{form_dna}"></label>
                        <input type="text" class="form-control" id="dna_teacher" th:field="*{dna}">
                        <small class="fs-6 text-danger" th:if="${#fields.hasErrors('dna')}" th:errors="*{dna}" ></small>
                    </div>
                    <div class="col-md-6">
                        <label for="phone_teacher" class="form-label" th:text="#{form_phone}"></label>
                        <input type="tel" class="form-control" id="phone_teacher" th:field="*{phoneNumber}">
                    </div>
                    <div class="col-md-6">
                        <label for="address" class="form-label" th:text="#{form_address}"></label>
                        <input type="text" class="form-control" id="address" th:field="*{address}">
                        <small class="fs-6 text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" ></small>
                    </div>
                    <div class="col-6">
                        <label for="email_teacher" class="form-label" th:text="#{form_email}"></label>
                        <input type="email" class="form-control" id="email_teacher" placeholder="user12@mail.com" th:field="*{email}">
                        <small class="fs-6 text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></small>
                    </div>
                    <div class="col-3">
                        <label class="form-label">...</label>
                        <button type="submit" class="btn btn-primary w-100" th:text="#{form_add}"></button>
                    </div>
                    <div class="col-3">
                        <label class="form-label">...</label>
                        <button type="reset" class="btn btn-danger w-100" th:text="#{form_reset}"></button>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>